<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Jinja Dimension</title>
</head>
<body>
<h1>The Jinja Dimension</h1>
    <div id="facts" class="fact-container">
        <div class="fact-item">
            <span class="fact-label">Location:</span> <span id="hostname">{{ city }}</span>
    </div>
    <div id="facts" class="fact-container">
        <div class="fact-item">
            <span class="fact-label">org:</span> <span id="hostname">{{ org }}</span>
    </div>
</body>
</html>
